<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="icon" href="../static/images/letter-e.png">
  <link rel="stylesheet" href="../static/css/dashboard_style.css">

</head>
<body>
  <div class="container">
    <!-- <h1>Hi, {{user}}</h1> -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="file-group">
        <label for="pdf1" class="file-label">
          <i class="far fa-file-pdf fa-5x"></i>
          <p id="namefile1" style="color:#2980b9"></p>
          <span>Answersheet</span>
          <input type="file" name="pdf1" id="pdf1" accept=".pdf, .txt" required>
        </label>

        <label for="pdf2" class="file-label">
          <i class="far fa-file-pdf fa-5x"></i>
          <p id="namefile2" style="color:#2980b9"></p>
          <span>Model Answersheet</span>
          <input type="file" name="pdf2" id="pdf2" accept=".pdf, .txt" required>
        </label>
      </div>

      <button type="submit" class="upload-btn">Upload</button>
      <!-- <button type="Submit" class="btn btn-outline-primary" style="padding: 15px 50px; font-size: larger;">Upload</button> -->
      
      <!-- <h1>{{user}}</h1> -->
    </form>
  </div>
</body>
</html>
<script>
    const file1 = document.getElementById("pdf1");
    const file2 = document.getElementById("pdf2");
    file1.addEventListener("change", function() {
        document.getElementById("namefile1").innerHTML = file1.files[0].name.substring(0,20) + "...";
    });
    file2.addEventListener("change", function() {
        document.getElementById("namefile2").innerHTML = file2.files[0].name.substring(0,20) + "...";
    });
</script>